name: Build spilo image

on:
  workflow_dispatch:
    inputs :
      version : 
        description : spilo release
        default : "3.0-p1"
        type : "string"
       
jobs:

  job1:
    runs-on : ubuntu-latest
    steps:
      - name: spilo release
        run: |
          echo The version is ${{ inputs.version }}
        
      - uses: actions/checkout@v3
        name: spilo checkout
        with:
          repository: zalando/spilo
          ref: ${{ inputs.version }}
          
      - name : build spilo docker image
        uses : docker/build-push-action@v4.0.0
        with :
         file : extra/spilo/postgres-appliance/
         build-args: |
           TIMESCALEDB_APACHE_ONLY="false"
           PGOLDVERSIONS="13"
